body {
  background-color:rgb(0, 150, 255);
}
h1 { font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(150, 0,255);
}
h3 {
  font-family: arial;
  color: rgb(255, 0,0);
  border: 2px solid rgb(0,0,0);
  background-color: #00ffff;
}
h6 {
  font-size: 50%;
}
